body{
background:#000000	
	
}



#calendar-container{
    padding: 10px;
    width: 30%;
    height: 35%px;
    text-align: center;
    border: 2px solid #800080;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#ffdb58 , #800080);
	margin:auto;
	color:#8B0000;
}
	
<<<<<<< HEAD
#sidepane {
    height: 55%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 55;
    left: 0;
    background-color:#800080;
    overflow-x: hidden;
    padding-top: 20px;
	border: 2px solid #FF00FF;
	
}
#b1{
	    background-color:#ffdb58;	
		border: none;
		 align:right;
}
#b2{
	    background-color:#ffdb58;	
		border: none;
}


=======
}

>>>>>>> calendar
#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
	
	
}

#calendar-month-year{
    margin: 10px;
	color:#8B0000;
}

#calendar-dates>table>tr>td{
    padding: 20px;
	color:#8B0000;
  
}
#calendar-dates>table>tr>td:hover { 
    background-color: black;
}
<<<<<<< HEAD
.bar{
	}
	
#bottombar{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 40%
	margin-left: auto;
    margin-right: auto;
}
	
	
	
	
	

=======
>>>>>>> calendar
