


body{
background:#000000;
 transition: all 0.15s ease-out;	

	
}
body.light_theme {
  background-color: #e5e5e5;
 
}

#theme_btn{
  position:absolute;
   bottom:0;
   right:10;
   width: 75px;
   font:inherit;
   background-color: #C0C0C0;
   color: #000;
   cursor: pointer;
    transition: all 0.15s ease-out;
}
#theme_btn:hover {
  text-decoration: underline;
}
.light_theme #change-theme-btn {
  color: #333;
}
.topnav {
  overflow: hidden;
  background-color: #a068b1;
}


.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align:center;
  padding-bottom: 20px;
}

.topnav a:hover {
  background-color: #d6af38;
  color: white;
}

.topnav a.active {
  background-color: #230741;
  color: white;
}


#calendar-container{
    padding: 10px;
    width: 500;
    height: 450px;
    position:absolute;
    top:20%;
    left:450px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-color:#151B54; /*image: linear-gradient(#151B54 , #800080);*/
	margin: 0 auto;
	color:#0000;
  display:  inline-block; 
}
.light_theme #calendar-container  {
  padding: 10px;
   width: 500;
    height: 450px;
     position:absolute;
    top:20%;
    left:450px;
    text-align: center;
    border: 2px solid #ADD8E6;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-image: linear-gradient(#ADD8E6 , #3bb9ff);
	margin: 0 auto;
	color:#0000;
}
	
#sidepane {
    height: 55%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 20;
	background-color:#800080;
    overflow-x: hidden;
    padding-top: 20px;
	border: 2px solid #FF00FF;
	text-align :center;
	font-weight:bold;
	font-size: 25;
	
	
}
.light_theme #sidepane {
    height: 55%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 20;
    background-color:#FFC0CB;
    overflow-x: hidden;
    padding-top: 20px;
	border: 2px solid #FF69B4;
	text-align :center;
	font-weight:bold;
	font-size: 25;

}


#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;

}


#calendar-month-year{
    margin: 10px;
	color:#1F45FC;
}
.light_theme #calendar-month-year{
	margin: 10px;
	color:#000000;	
}

#calendar-dates>table>tr>td{
    padding: 20px;
	color:#1F45FC;
  
}
.light_theme #calendar-dates>table>tr>td{
    padding: 20px;
	color:#000000;
  
}

#bar{
height:30;
width:100;
background:#8B0000;
margin:none;
color: #ffdb58;	
 cursor: pointer;
	}

.light_theme #bar{
height:30;
width:100;
background:#E0B0FF;
margin:0 none;
color: #ffdb58;	
 cursor: pointer;
	}
		
#bottombar{
    overflow: hidden;
    position: fixed;
	left:500;
    bottom: 150;
    width: 50%;
	margin-left: auto;
    margin-right: auto;
	color: #ffdb58;	
	 cursor: pointer;
}
	
	